__pycache__/
*.py[cod]
*$py.class
__pycache__/monde.cpython-314.pyc
__pycache__/player.cpython-314.pyc
__pycache__/UI.cpython-314.pyc
__pycache__/monde.cpython-314.pyc
Nico.jpg
snow_1.webp
__pycache__/player.cpython-314.pyc
__pycache__/UI.cpython-314.pyc
